/* this was stolen from W3Schools btw */

.topnav {
    background-color: #a3f0eb;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #b1d3e8;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #86aec2;
    color: #3c4245;
  }

  body {
    font-family: verdana;
    background-color:white;
    color:black;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
